@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,400;0,700;1,200;1,300;1,500;1,700&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.home{
    position: relative;
    background: #55838f;
}
.navigation{
    position: absolute;
    top: 1px;
    width: 350px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    
}
.navigation ul{
    position: relative;
    display: flex;
    width: 300px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 85px;
    font-size: 1.5em;
    transition: 0.5s;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.navigation ul li a:hover .icon{
    color: rgba(255, 255, 255, 1);
}
.navigation ul li.active a .icon{
    color: #7a29fd;
    transform: translateY(-8px);
}
.navigation ul li a .text{
    position: absolute;
    font-weight: 600;
    font-size: 0.6em;
    color: #fff;
    text-transform: uppercase;
    transform: translateY(0px);
    letter-spacing: 0.05em;
    opacity: 0;
    z-index: 10;

}
.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(16px);

}
.indicator{
    position: absolute;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;

}
.indicator::before{
    content: '';
    position: absolute;
    bottom: 14px;
    width: 80%;
    height: 16px;
    background: #7a29fd;
    border-radius: 10px;
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(80px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(80px * 2));
}


.finishedTasks{
    background: #333;
}
.footer{
    background: #55838f;
}