@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,400;0,700;1,200;1,300;1,500;1,700&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --bg-color: #f7f3f5;
    --light-bg-color: #e6dee1;
    --btn-color: #687477;
    --bgLightColor: #e2c2b3;
    --nextColor: #403234;

}
html{
    scroll-behavior: smooth;
}
.container{
    position: relative;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section{  
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}
.home{
    overflow-x: hidden;
}
header{
    position: fixed;
    width: 99%;
    height: 80px;
    background: var(--light-bg-color);
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 1.7rem;
    border-bottom-left-radius: 1.7rem;
}
.navigation{
    position: relative;
    top: 1px;
    width: 350px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    
}
.navigation ul{
    position: relative;
    display: flex;
    width: 300px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 85px;
    font-size: 1.5em;
    transition: 0.5s;
    text-align: center;
    color: var(--btn-color);
}
.navigation ul li a:hover .icon{
    color: var(--nextColor);
}
.navigation ul li.active a .icon{
    color: var(--nextColor);
    transform: translateY(-8px);
}
.navigation ul li a .text{
    position: absolute;
    font-weight: 600;
    font-size: 0.7em;
    color: var(--nextColor);
    text-transform: uppercase;
    transform: translateY(0px);
    letter-spacing: 0.05em;
    opacity: 0;
    z-index: 10;

}
.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(16px);

}
.indicator{
    position: absolute;
    width: 90px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;

}
.indicator::before{
    content: '';
    position: absolute;
    bottom: 14px;
    width: 100%;
    height: 16px;
    background: var(--bgLightColor);
    border-radius: 0.75rem;
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(80px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(80px * 2));
}
.dashboard{
    position: relative;
    top: 80px;
    max-width: 1400px;
    width: 1400px;
    height: calc(100% - 80px);
    margin: 0 auto;
    padding: 10px;
    background: inherit;
   
    display: grid;
    grid-template-areas: 
    'top-widget top-widget aside-widget'
    'main-widget main-widget aside-widget'
    'main-widget main-widget aside-widget'
    ;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 4fr;
}
.dashboard .top-widget,
.dashboard .main-widget,
.dashboard .aside-widget{
    color: #fff;
    padding: 20px;
    border: 1px skyblue solid; 
}
.dashboard .top-widget{
    position: relative;
    grid-area: top-widget;
    width: 100%;
    display: flex;
    background: #1b1a1c;
    padding: 5px;
     
}
.dashboard .top-widget .tasks-status-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 60px;
    

}
.dashboard .top-widget .tasks-status-container .salutation{
    height: 100%;
    display: flex;
    align-items: center;

}
.dashboard .top-widget .tasks-status-container .statusList{
    display: flex;
}
.dashboard .top-widget .tasks-status-container .statusList .tasks{
    position: relative;
    width: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}
.dashboard .top-widget .tasks-status-container .statusList .tasks h4{
    text-align: center;
}
.dashboard .top-widget .tasks-status-container .statusList .tasks .task-icon{
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard .top-widget .tasks-status-container .statusList .tasks .task-icon img{
    width: 50px;
    height: 50px;
}
.dashboard .top-widget .tasks-status-container .statusList .tasks .task-icon span{
    position: absolute;
    top: -4px;
    right: 16px;
    width: 25px;
    height: 25px;
    background-color: #f00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #0ef;
}  
.dashboard .slide-widget{
    position: relative;
    grid-area: main-widget;
    width: 100%;
    display: flex;
   
}
.dashboard .slide-widget .card-container{
    width: 100%;
    height: 100%;
}
.dashboard .slide-widget .card-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard .slide-widget .card-content .cards{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}

/* .dashboard .slide-widget .card-content .cards .card-lines{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
.dashboard .slide-widget .card-content .cards .card-lines span{
    position: absolute;
    border: 2px solid #f00;
    overflow: hidden;
}
.dashboard .slide-widget .card-content .cards .card-lines span:nth-child(1){
    top: 80px;
    left: 270px;
    width: 400px;
    height: 100px;
}
.dashboard .slide-widget .card-content .cards .card-lines span:nth-child(2){
    top: 260px;
    left: 180px;
    width: 200px;
    height: 200px;
}

.dashboard .slide-widget .card-content .cards .card-lines span:nth-child(3){
    top: 80px;
    right: 10px;
    width: 290px;
    height: 100px;
    border-right: transparent;
    border-top: transparent;
}
.dashboard .slide-widget .card-content .cards .card-lines span:nth-child(4){
    bottom: 0;
    right: 140px;
    width: 200px;
    height: 50px;
    border-left: transparent;
    border-top: transparent;
} */
.dashboard .slide-widget .card-content .cards .deadline-count-down{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.dashboard .slide-widget .card-content .cards .deadline-count-down #time{
    display: flex;
    gap: 20px;
   
} 
.dashboard .slide-widget .card-content .cards .deadline-count-down #time .circle{
    position: relative;
    width:  100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  
} 
 
.dashboard .slide-widgett .card-content .cards .deadline-count-down #time .circle::before{
    content: '';
    position: absolute;
    inset: 0;
    border:10px solid #1b1a1c;
    border-radius: 50%;

} 

.dashboard .slide-widget .card-content .cards .deadline-count-down #time .circle::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: #2f2e33;
    border-radius: 50%;
    border: 15px solid #4d4c51;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.75), 0 -2px 2px rgba(255, 255, 255, 0.5),
        inset 0 4px 2px rgba(0, 0, 0, 0.25),
        inset 0 -2px 2px rgba(255, 255, 255, 0.5),
    ;
    
}

.dashboard .slide-widget .card-content .cards .deadline-count-down #time .circle svg{
    position: relative;
    width: 100px;
    height: 100px;
    transform: rotate(270deg);
    
}  
 
.dashboard .slide-widget .card-content .cards .deadline-count-down #time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 10;
    stroke: var(--clr);
    stroke-linecap: round;
    transform: translate(5px,5px);
    stroke-dasharray: 285;
    stroke-dashoffset: 285; 
}  

.dashboard .slide-widget .card-content .cards .deadline-count-down #time div{
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--clr);
    z-index: 999;
    transform: translateY(-8px);
} 
.dashboard .slide-widget .card-content .cards .deadline-count-down #time div span{
    position: absolute;
    transform: translateX(-50%) translateY(2px);
    font-weight: 500;
    font-size: 0.6rem;
    letter-spacing: 0.1em;
}  
.dashboard .slide-widget .card-content .cards .card-title{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.dashboard .slide-widget .card-content .cards .card-title h4{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: #55838f;
}
.dashboard .slide-widget .card-content .cards .card-description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.dashboard .slide-widget .card-content .cards .card-action{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.dashboard .slide-widget .card-content .cards .card-action .input{
    background: #55838f;
    color: #000;
    border: transparent;
    padding: 8px 24px;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 300;
    outline: none;

}

.dashboard .aside-widget{
    grid-area: aside-widget;
    padding: 5px;
}
.dashboard .aside-widget .box{
    position: relative;
    top: 0;
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #fff;
}

.dashboard .aside-widget .box span{
    position: absolute;
    inset: 5px;
    border-radius: 8px;
    background-image: url("th.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    z-index: 1; 
} 
/* .dashboard .aside-widget .box span i{
    position: absolute;
    top: 8px;
    left: -15px;
    width: 350px;
    height: 50px;
    background: hsl(192, 100%, 50%);
    border-radius: 8px;
    border-bottom-left-radius: 0;
    z-index: -1;

}
.dashboard .aside-widget .box span i::before{
    content: '';
    position: absolute;
    top: 50px;
    width: 20px;
    height: 30px;
    background: hsl(195, 33%, 61%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}
.dashboard .aside-widget .box span i::after{
    content: '';
    position: absolute;
    top: 50px;
    width: 20px;
    height: 15px;
    background: hsl(192, 100%, 50%);
    z-index: 1;
} */
.dashboard .aside-widget .box span .timeline{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 0 15px;
}
.dashboard .aside-widget .box span .timeline .timeline-column{
    position: relative;
    display: flex;
    width: 100%;
}
.dashboard .aside-widget .box span .timeline .calender{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
   
}
.dashboard .aside-widget .box span .timeline .calender:hover{
    opacity: .7;
}
.dashboard .aside-widget .box span .timeline .calender #current_date{
    font-family: 'Montserrat';
    font-size: 22px;
    color: #0ef;

}
.dashboard .aside-widget .box span .timeline .calender #current_time{
    font-family: 'Montserrat';
    font-size: 20px;
    color: #0ef;

}
.dashboard .aside-widget .box span .timeline .timeline-column .timeline-box{
    border-left: 2px solid #0ef;
}
.dashboard .aside-widget .box span .timeline .timeline-column .timeline-box .timeline-content{
    padding-left: 20px;
}
.dashboard .aside-widget .box span .timeline .timeline-column .timeline-box .timeline-content .content{
    position: relative;
    padding: 10px;
    border: 2px solid #0ef;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.dashboard .aside-widget .box span .timeline .timeline-column .timeline-box .timeline-content .content:hover{
    background: #313030;
    border: 2px solid #313030;
}
.dashboard .aside-widget .box span .timeline .timeline-column .timeline-box .timeline-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -32px;
    width: 20px;
    height: 20px;
    background: #0ef;
    border-radius: 50%;
}
.dashboard .aside-widget .box span .timeline .timeline-column .timeline-box .timeline-content .year{
    color: #0ef;
    display: flex;
    align-items: center;
}
.dashboard .aside-widget .box span .timeline .timeline-column .timeline-box .timeline-content .year h4{
    margin-left: 80px;
}
.dashboard .aside-widget .box span .timeline .timeline-column .timeline-box .timeline-content .year ion-icon{
    margin-right: 8px;
}
.dashboard .aside-widget .box span .timeline .timeline-column .timeline-box .timeline-content h3{
    margin: 8px 0;
    font-size: 18px;
    color: rgb(116, 222, 230);
}
.dashboard .aside-widget .box span .timeline .timeline-column .timeline-box .timeline-content p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(22, 236, 252);
}
.dashboard .aside-widget .box span .timeline .button{
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0ef;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 8px;
}
.dashboard .aside-widget .box span .timeline .button #show-add-form{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: inherit;
}
.dashboard .aside-widget .box span .timeline .button #show-add-form ion-icon{
    font-size: 30px;
    color: #fff;
}


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.dashboard .top-widget .tasks-widget{
    width: 50%;
    height: 100%;
    display: flex;
}
.dashboard .top-widget .tasks-widget .tasks
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 0 20px;
}
.task-pane{
    position: relative;
    top: 80px;
    max-width: 1400px;
    width: 1400px;
    height: calc(100% - 80px);
    margin: 0 auto;
    padding: 10px;
    background: inherit;
   
    display: grid;
    grid-template-areas: 
    'top-widget top-widget top-widget'
    'main-widget main-widget main-widget'
    'aside-widget aside-widget  aside-widget'
    ;
    grid-template-rows: 1fr 3fr 1fr;
}
.task-pane .top-widget,
.task-pane .main-widget,
.task-pane .aside-widget{
    color: #fff;
    padding: 20px;
    /* border: 1px skyblue solid; */
}
.task-pane .top-widget{
    grid-area: top-widget;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;

}
.task-pane .main-widget{
    grid-area: main-widget;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
.task-pane .main-widget .display{
    width: 100%;
}

.task-pane .aside-widget{
    grid-area: aside-widget;
}
.add-task-container{
    position: absolute;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 8px;
    background: #374634;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    visibility: hidden;
}
.add-task-container .h{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}
.add-task-container .h .close{
    position: absolute;
    top: 2px;
    right: 8px;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.add-task-container .h .close ion-icon{
    width: 100%;
    height: 100%;
    color: #fff;
} 
.add-task-container .form{
    margin-top: 30px;
}
.add-task-container .form .input-box{
    width: 100%;
    margin-top: 20px;
}

.add-task-container .form .input-box input{
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 7px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.add-task-container .form .input-box textarea{
    position: relative;
    height: 90px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #080808;
    margin-top: 7px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px 15px;
}
.add-task-container .form .collumn{
    display: flex;
    column-gap: 15px;
}
.add-task-container .form .collumn2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
}
.add-task-container .form .collumn2 .select-menu{
    width: 200px;
}
.add-task-container .form .collumn2 .select-menu .select-btn{
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.add-task-container .form .collumn2 .select-menu .select-btn ion-icon{
    font-size: 25px;
    transition: 1s;
}
.add-task-container .form .collumn2 .select-menu .select-btn.active ion-icon{
    transform: rotate(180deg);
}
.add-task-container .form .collumn2 .select-menu .list{
    position: absolute;
    width: 200px;
    color: #000;
    margin-top: 5px;
    z-index: 3;
}
.add-task-container .form .collumn2 .select-menu .list .option{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #fff;
    padding: 0 16px;
    transform-origin: top;
    transform: scale(0) translateY(-20px);
    transition: transform 0.5s ease-in-out, margin-bottom 0.2s ease-in-out;
    transition-delay: calc(.1s * var(--i));
    cursor: pointer;

} 
.add-task-container .form .collumn2 .select-menu .select-btn.active~.list .option{
    transition: transform 0.1s ease-in-out, margin-bottom 0.2s ease-in-out;
    transition-delay: calc(.1s * var(--i));
    transform: scale(1) translateY(0);
}
.add-task-container .form .collumn2 .select-menu .list .option:hover{
    background: #f2f2f2;
} 
.add-task-container .form .collumn2 .select-menu .list .option:nth-child(1){
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
} 
.add-task-container .form .collumn2 .select-menu .list .option:nth-child(3){
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
} 
.add-task-container  .form .collumn2 .select-menu .list .option .icon{
    font-size: 25px;
    margin-right: 12px;
}
.add-task-container form .collumn2 .select-menu .list .option .option-text{
    font-size: 18px;
    color: #333;
}

.add-task-container .form .collumn2 .save-btn{
    width: 200px;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #1bad75;
    color: #1f1b1b;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.add-task-container .form .collumn2 .save-btn button{
    width: 100%;
    padding: 8px 16px;
    border: none;
    outline: 0;
    background: transparent;
    color: #f0e7e7;
} 


.footer{
    background: #55838f;
}
@keyframes animate {
    0%{
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    50%{
        transform: translateY(-150px) scaleX(5);
    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(-300px) scaleX(10);
    }
}
@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }    
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
    
}
@keyframes anime {
    to{
        rotate: 360deg;
    }
}